.productdetail{
    display: flex;

    .container{
        flex: 6;
        
            .top{
                box-shadow: 2px 4px 10px 1px rgba(140, 139, 139, 0.47);
                padding: 10px;
                margin: 20px;
                display: flex;
                justify-content: space-between;
                

                
                .title{
                    color:#DD8643;
                    font-size: 20px;
                }
                
                button{
                    width: 100px;
                    background-color: #DD8643;
                    border: none;
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                    border-radius: 10px;
                    text-align: center;
                }
            }
            
            .bottom{
                box-shadow: 2px 4px 10px 1px rgba(140, 139, 139, 0.47);
                padding: 10px;
                margin: 20px;
                display: flex;


                .left{
                    flex: 1;
                    background-color: red;
                }
    
                .rigth{
                    flex: 2;
                    background-color: aqua;
                }
            }}
           

}