.login{
    display: flex;

    .left{
        flex: 4;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('https://i.pinimg.com/originals/16/70/b2/1670b272e3f065b9757e5501c52a9f2c.gif');
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column; 
        flex-wrap: wrap;
        text-align: center;
    
            img {
            width: 20vw;
            height: 40vh;
        }
        
        
    }



    .rigth{
        flex: 3;
        height: 100vh;
        width: 100vw;
        background-color: #FEFEFE;
        display: flex;
        align-items: center;
        justify-content: center;
        border-left:#161616 1px solid;

        .form{
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            justify-content: space-around;
            width: 40%;

            label{
                font-size: 18px;
                font-weight: bold;
                color: #FFC680;
            }

            select{
                width: 100%;
                padding: 5px;
                border: none;
                border-bottom: 1px solid gray;
                margin-top: 10px;
                margin-bottom: 10px;
                font-size: 12px;

            }
            
            input{
                width: 100%;
                padding: 5px;
                border: none;
                border-bottom: 1px solid gray;
                margin-top: 10px;
                margin-bottom: 10px;
            }

            button{
                width: 150px;
                background-color: #DD8643;
                padding: 10px;
                border: none;
                color: white;
                font-weight: bold;
                cursor: pointer;
                margin-top: 10px;
                border-radius: 10px;

                
            }
        }
    }
}
