.new{
    width: 100%;
    display: flex;
    
    .newcontainer{
         flex:6;

         .top{
            box-shadow: 2px 4px 10px 1px rgba(140, 139, 139, 0.47);
            padding: 10px;
            margin: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .title{
                color:#DD8643;
                font-size: 20px;
                padding-right: 30px;
            }

            button{
                width: 120px;
                background-color: #DD8643;
                padding: 7px;
                border: none;
                color: white;
                font-weight: bold;
                cursor: pointer;
                align-items: center;
                justify-content: space-around;
                display: flex;  
                border-radius: 10px;
    
                
            }
         }
         .bottom{
            box-shadow: 2px 4px 10px 1px rgba(140, 139, 139, 0.47);
            padding: 10px;
            margin: 20px;
            display: flex;

            .title{
                color:#DD8643;
                font-size: 20px;
            }
            .left{
                display: flex;
                align-items: center;
                justify-content: center;
                flex:1;

                img{ 
                    width: 250px;
                    height: 250px;
                    border-radius:50%;
                }
            }

            .rigth{
                flex:2;               

                form{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 30px;
                    justify-content: space-around;

                    .formInput{
                        width: 40%;

                        p{
                            font-size: 10px;
                            margin-bottom: 5px;
                            color: red;
                            
                        }
                        label{
                            font-size: 18px;
                            font-weight: bold;
                            color: #FFC680;
                        }

                        select{
                            width: 100%;
                            padding: 5px;
                            border: none;
                            border-bottom: 1px solid gray;
                            margin-top: 10px;
                            margin-bottom: 10px;
                            font-size: 12px;

                        }
                        input{
                            width: 100%;
                            padding: 5px;
                            border: none;
                            border-bottom: 1px solid gray;
                            margin-top: 10px;
                            margin-bottom: 10px;
                        }

                        textarea{
                            width: 100%;
                            padding: 5px;
                            border: none;
                            border-bottom: 1px solid gray;
                            margin-top: 10px;
                            margin-bottom: 10px;
                            
                        }

                        
                    }

                    button{
                        width: 150px;
                        background-color: #DD8643;
                        padding: 10px;
                        border: none;
                        color: white;
                        font-weight: bold;
                        cursor: pointer;
                        margin-top: 10px;
                        border-radius: 10px;

                        
                    }


                    button[disabled]{
                        width: 150px;
                        background-color: #5b5b5b;
                        padding: 10px;
                        border: none;
                        color: white;
                        font-weight: bold;
                        margin-top: 10px;
                        border-radius: 10px;
                        cursor: default;
                    }

                }
            }
        }
    }

    
}