.navbar{   
    border-bottom: 0.5px solid rgb(226, 226, 226);
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #DD8643;

    .wrapper{
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(0, 255, 47);

        .search{
            display: flex;
            align-items: center;
            border: 0.5px solid lightgray;
            padding: 3px;

            input{
                border: none;
                outline: none;
            }
        }

        .items{
            display: flex;
        }
    }
}